beaker
falcon
-e git://github.com/didip/beaker_extensions.git#egg=beaker_extensions
redis
-e git://github.com/zetaops/SpiffWorkflow.git#egg=SpiffWorkflow
-e git://github.com/zetaops/pyoko.git#egg=pyoko
lazy_object_proxy
passlib
pytest
enum34
requests
Werkzeug