git+https://github.com/basho/riak-python-client.git#egg=riak
git+https://github.com/didip/beaker_extensions.git#egg=beaker_extensions
git+https://github.com/zetaops/SpiffWorkflow.git#egg=SpiffWorkflow
git+https://github.com/zetaops/faker.git#egg=faker
beaker
falcon
redis
lazy_object_proxy
passlib
pytest
enum34
Werkzeug
celery
requests
boto
reportlab
six
pika
tornado
lxml
streamingxmlwriter

# apt-get install libjpeg-dev libpng-dev zlib1g-dev
# following projeets are parts of our project,
# so creating symbolic links for them is more convenient for us

#git+https://github.com/zetaops/pyoko.git#egg=pyoko
#git+https://github.com/zetaops/zengine.git#egg=zengine
